@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply xl:text-125%
    2xl:text-150%;
  }

  ::-webkit-scrollbar {
    @apply w-1.5
    h-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-utils-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-components-button 
    rounded-full;
  }

  .page {
    @apply flex
    justify-center
    items-center
    min-h-screen
    font-primary
    text-primary
    antialiased
    bg-components-page;
  }

  .has-img-background {
    @apply sm:bg-desktop-page
    sm:bg-cover
    sm:bg-no-repeat
    sm:bg-center;
  }

  .has-badge {
    @apply sm:items-start;
  }

  .btn-header {
    @apply mr-3
    mt-3
    sm:absolute
    sm:top-0
    sm:right-0;
  }

  .btn-redirect {
    @apply text-primary
    rounded;
  }

  .btn-action {
    @apply text-base
    text-components-page
    leading-none
    font-medium
    rounded-md
    duration-500
    px-4
    py-3.5
    transform
    filter
    hover:scale-105
    hover:brightness-90
    xl:py-3;
  }

  .social-link-container {
    @apply hover:animate-finite-bounce;
  }

  .modal {
    @apply block
    bg-primary
    rounded
    max-h-full
    px-2.5
    py-4
    overflow-y-auto;
  }
}

@layer components {
  /* HOME PAGE */
  .badge {
    @apply w-94
    h-full
    pb-42
    bg-badge-surface
    bg-cover
    bg-top
    sm:pb-16
    sm:mt-35
    sm:bg-desktop-badge-surface;
  }

  .badge-header {
    @apply flex
    justify-end
    sm:relative
    sm:justify-center;
  }

  .badge-band {
    @apply hidden
    sm:block
    sm:w-20
    sm:h-41
    sm:bg-badge-band
    sm:bg-cover
    sm:bg-no-repeat
    sm:-mt-35;
  }

  .btn-login-redirect {
    @apply btn-header
    btn-redirect
    px-4
    py-2
    text-lg
    bg-components-button
    duration-500
    hover:text-components-button
    hover:bg-utils-transparent
    hover:shadow-inner;
  }

  .badge-body {
    @apply max-w-68
    mx-auto
    text-center
    animate-swipe-down;
  }

  .readable-badge-avatar {
    @apply relative
    mt-28.75
    sm:mt-14.5;
  }

  .has-data {
    @apply mt-38.25
    sm:mt-21.25;
  }

  .img-avatar {
    @apply w-40
    h-46
    mx-auto
    object-cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }

  .identification {
    @apply mt-6;
  }

  .user-name {
    @apply text-2xl
    mb-1;
  }

  .profile-link {
    @apply flex
    items-center
    gap-2
    text-base
    w-max
    m-auto
    text-secondary
    no-underline;
  }

  .img-github {
    @apply w-4
    h-4;
  }

  .user-biography {
    @apply text-base
    mt-8;
  }

  .badge-footer {
    @apply mt-16
    sm:mt-10;
  }

  .social-links-wrapper {
    @apply flex
    justify-center
    gap-1.75
    list-none;
  }

  .img-social {
    @apply w-12
    h-12;
  }
  /* -- END --

  * LOGIN PAGE */
  .login-card {
    @apply max-w-md
    bg-primary
    text-tertiary 
    rounded
    p-4
    animate-pop;
  }

  .card-title {
    @apply font-semibold
    text-4xl
    text-center;
  }

  .description {
    @apply mt-3
    mb-4
    text-components-button
    text-lg;
  }

  .btn-login {
    @apply btn-redirect
    relative
    flex
    justify-center
    items-center
    w-full
    text-xl
    py-4
    bg-tertiary
    duration-500
    hover:bg-components-page;
  }

  .btn-icon {
    @apply absolute
    left-0
    ml-3
    w-8
    h-8;
  }
  /* -- END -- 
  
  * BADGE PAGE */
  .config-wrapper {
    @apply badge-footer
    social-links-wrapper;
  }

  .editable-badge-avatar {
    @apply relative
    mt-41.75
    sm:mt-21.25;
  }

  .btn-share {
    @apply btn-header
    bg-utils-transparent
    transform
    duration-500
    hover:scale-110;
  }

  .img-share {
    @apply w-7.5
    h-7.5;
  }

  .btn-edit {
    @apply social-link-container;
  }

  .img-edit {
    @apply img-social;
  }

  /* -- MODAL -- */
  .modal-overlay {
    @apply hidden;
  }

  .separator {
    @apply w-full
    h-hpx 
    bg-components-separator
    mt-2
    mb-3.5;
  }

  .modal-overlay.active {
    @apply fixed
    top-0
    left-0
    flex
    justify-center
    items-center
    w-full
    h-full
    bg-components-overlay;
  }

  .modal-edit {
    @apply hidden;
  }

  .modal-edit::-webkit-scrollbar {
    @apply hidden
    sm:block;
  }

  .modal-edit.active {
    @apply modal
    sm:min-w-101.25;
  }

  .fieldset-title {
    @apply card-title
    text-2.5xl
    text-components-button;
  }

  .input-wrapper {
    @apply flex 
    flex-col
    text-components-button
    px-2;
  }

  .label {
    @apply text-base
    text-quaternary
    mb-1;
  }

  .st-label {
    @apply label;
  }

  .labels {
    @apply label
    mt-3.5;
  }

  .input {
    @apply h-10
    w-full
    text-base
    text-components-input
    rounded
    pl-2
    xs:min-w-71;
  }

  .actions {
    @apply flex
    gap-2
    px-2
    mt-4;
  }

  .btn-cancel-edit {
    @apply btn-action 
    w-2/5 
    bg-secondary;
  }

  .btn-save {
    @apply btn-action 
    w-3/5
    bg-gradient-to-r 
    from-fade-pink 
    to-fade-yellow;
  }

  .modal-share {
    @apply hidden;
  }

  .modal-share.active {
    @apply modal
    px-2.5
    py-4
    min-w-full
    xs:min-w-max;
  }

  .share-title {
    @apply fieldset-title;
  }

  .share-content {
    @apply input-wrapper
    gap-3;
  }

  .copy-container {
    @apply flex
    items-center
    gap-2;
  }

  .btn-copy {
    @apply h-10
    px-2.5
    rounded
    bg-components-button
    duration-200
    filter
    transform
    hover:brightness-110
    active:scale-90;
  }

  .btn-copy.active {
    @apply bg-fade-pink;
  }

  .img-copy {
    @apply w-6
    h-6;
  }

  .btn-cancel-sharing {
    @apply btn-action
    w-full
    bg-secondary;
  }
  /* --- END --- 
  
  * NOT FOUND PAGE */
  .not-found-container {
    @apply p-6;
  }

  .not-found-code {
    @apply font-medium
    text-5xl
    w-max
    mx-auto
    mb-4
    tracking-widest
    bg-gradient-to-r
    from-fade-pink
    to-fade-yellow
    bg-clip-text
    xs:text-6xl
    lg:text-6.5xl;

    -webkit-text-fill-color: transparent;
  }

  .img-lost {
    @apply w-full
    max-w-sm
    max-h-full
    my-4
    mx-auto
    animate-pop
    md:mb-5;
  }

  .not-found-message {
    @apply text-center
    text-xl
    mt-4
    xs:text-2xl
    lg:text-2.5xl;
  }
  /* -- END -- */
}
